version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.2-stretch-browsers
    steps:
      - checkout
      - run:
          name: Install yamllint
          command: 'pip install yamllint'
      - run:
          name: Lint
          command: 'cd yaml-examples && yamllint .'
