version: 2
jobs:
  build:
    docker:
      - image: debian:stretch
    steps:
      - checkout
      - run:
          name: Update apt-get
          command: apt-get update;
      - run:
          name: Install yamllint
          command: apt-get -y install yamllint;
